body, html{
  height:100%;
}

body {
  background: url("images/bg-beach-cartoon2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

.title, .addDancerButton, .lineUpButton {
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  background-size: 100%;
  position:absolute;
}

.blinky {
  background: url(images/stitch-happy.gif);
  background-size: 100%;
  width:100px; 
  height:100px; 
}

.wave {
  background: url(images/shark.gif);
  background-size: 100%;
  width: 100px;
  height: 155px;
  
}

.water {
  background: url(images/anime-whale.gif);
  background-size: 100%;
  width: 100px;
  height: 155px;
  
}

.flip {
  transform: scaleX(-1);
  filter: FlipH;
}